<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557773368589-l4hv31tr4ta368711q985l310dnnuagr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557773368589-l4hv31tr4ta368711q985l310dnnuagr</string>
	<key>API_KEY</key>
	<string>AIzaSyDECT5BGRkvasfzpgghWkOOD7Kx68EOfTY</string>
	<key>GCM_SENDER_ID</key>
	<string>557773368589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Glasierinc.Girlventdemo</string>
	<key>PROJECT_ID</key>
	<string>girlvent-5d3d9</string>
	<key>STORAGE_BUCKET</key>
	<string>girlvent-5d3d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557773368589:ios:2a577d067105e7400d9444</string>
	<key>DATABASE_URL</key>
	<string>https://girlvent-5d3d9.firebaseio.com</string>
</dict>
</plist>